@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@font-face {
  font-family: 'Trushdex';
  src: url('/fonts/Trushdex.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Preospe';
  src: url('https://cdn.rlss.in.th/assets/font/Preospe.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Trushdex-font {
  font-family: 'Trushdex', sans-serif;
}
.Preospe-font {
  font-family: 'Preospe', sans-serif;
}
.ReadexPro-font {
  font-family: 'Readex Pro', sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}